/* Universal Selector */
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Element Selector */
li {
    display: inline;
}

header {
    /* position: fixed; */
    background-color: #F6C103;
    height: 60px;
    width: 100%;
    line-height: 60px;
}

/* Class Selectors */
.text-right {
    text-align: right;
}

