/* Universal Selector */
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Element Selector */
li {
    display: inline;
}

/* Class Selectors */
.text-right {
    text-align: right;
}

