/* Universal Selector */
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

}

/* Element Selector */
body {
    /* position: relative; */
}
li {
    display: inline;
    padding: 5px;
}

form {
    display: block;
}

main {
    padding: 60px 0;
}

.name, .email {
    vertical-align: top;
}

figure { 
    /* repeat of class--------------- */
    text-align: center;
}

header {
    /* position: fixed; */
    background-color: #F6C103;
    height: 60px;
    width: 100%;
    line-height: 60px;
}

/* Class Selectors */
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

